body {
    background-color: #F5EFE7;
    color: #213555;
}

.navbar {
    background-color: #4F709C;
    color: #F5EFE7;
}

.navbar-nav .nav-link {
    color: #F5EFE7;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #f0ad4e; /* Default background color */
    border-color: #eea236; /* Default border color */
}