{% extends "base.html" %}

{% block title %}Wyszukiwanie książek{% endblock %}

{% block header %}
<h1 class="text-center">Wyszukiwanie książek</h1>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <form method="get">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ form.title.id_for_label }}" class="col-sm-2 col-form-label">Tytuł</label>
            <div class="col-sm-10">
                {{ form.title }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.author.id_for_label }}" class="col-sm-2 col-form-label">Autor</label>
            <div class="col-sm-10">
                {{ form.author }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.genre.id_for_label }}" class="col-sm-2 col-form-label">Gatunek</label>
            <div class="col-sm-10">
                {{ form.genre }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.user.id_for_label }}" class="col-sm-2 col-form-label">Wrzucająca/y</label>
            <div class="col-sm-10">
                {{ form.user }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Szukaj</button>
            </div>
        </div>
    </form>
    <br>
    <h3>
        Wyniki wyszukiwania {{ page_obj.start_index }}-{{ page_obj.end_index }} z {{ page_obj.paginator.count }}
    </h3>
    <br>
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th><a href="?sort=title">Tytuł</a></th>
            <th><a href="?sort=author">Autor</a></th>
            <th><a href="?sort=genre">Gatunek</a></th>
            <th><a href="?sort=user__first_name">Imię użytkownika</a></th>
            <th><a href="?sort=user__last_name">Nazwisko użytkownika</a></th>
            <th><a href="?sort=date_added">Data dodania</a></th>
            <th>Recenzja</th>
        </tr>
        </thead>
        <tbody>
        {% for book in page_obj %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.user.first_name }}</td>
            <td>{{ book.user.last_name }}</td>
            <td>{{ book.date_added|date:"d.m.Y" }}</td>
            <td>
                {% if book.review %}
                    <a href="{{ book.review }}">LINK</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Pagination controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&sort={{ sort_param }}&title={{ form.title.value }}&author={{ form.author.value }}&genre={{ form.genre.value }}&user={{ form.user.value }}">Poprzednia</a></li>
            {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}&sort={{ sort_param }}&title={{ form.title.value }}&author={{ form.author.value }}&genre={{ form.genre.value }}&user={{ form.user.value }}">Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&sort={{ sort_param }}&title={{ form.title.value }}&author={{ form.author.value }}&genre={{ form.genre.value }}&user={{ form.user.value }}">Następna</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
